<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlJdbcConnection" class="pl.hubiq.hubspringtut1.xml.XmlJdbcConnection"/>

    <bean id="xmlPersonDAO" class="pl.hubiq.hubspringtut1.xml.XmlPersonDAO">
        <constructor-arg ref="xmlJdbcConnection"/>
    </bean>
</beans>